---
import Layout from "../layouts/Layout.astro"
import Address from "../components/Address.astro";
import Card from "../components/Card.astro";
---

<Layout title="type.suzume.dev">
	<main>
		<h1>type.suzume.dev</h1>

		<nav>
			<div class="nav-item">
				<a href="/for-affinity">
					<img alt="日本語組版するためのフォント for Affinity" src="/img/for-affinity-jt.png" />
				</a>
			</div>
			<div class="nav-item">
				<a href="/emberiza">
					<img alt="コーディングフォント Emberiza Sans" src="/img/emberiza-jt.png" />
				</a>
			</div>
		</nav>
 	</main>

	<Address></Address>
</Layout>

<style>
	h1 {
		letter-spacing: -0.0125em;
	}
	nav {
		margin: 1.5rem 0;
	}
	.nav-item {
		margin-bottom: 1rem;
	}
	.nav-item a {
		display: inline-block;
		vertical-align: bottom;
		border: solid 1px #ddd;
	}
	@keyframes nav-item-hover {
		0% {
			outline: solid 0 rgba(var(--accent), 0);
		}
		100% {
			outline: solid 2px rgb(var(--accent));
		}
	}
	.nav-item a:hover,
	.nav-item a:focus {
		outline: solid 2px rgb(var(--accent));
		animation: nav-item-hover 0.2s ease-out 1;
	}
	.nav-item img {
		width: auto;
		height: auto;
		max-width: 100%;
		vertical-align: bottom;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
