---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="type.suzume.dev">
	<main>
		<h1>type.suzume.dev</h1>

		<h2>えのころ</h2>
		<p class="par">
			<strong>えのころ角ゴシック</strong>、<strong>えのころ明朝</strong>は、<a
				href="https://github.com/adobe-fonts/source-han-sans/blob/master/README-JP.md"
				>源ノ角ゴシック</a
			>、<a href="https://github.com/adobe-fonts/source-han-serif/blob/master/README-JP.md"
				>源ノ明朝</a
			>の持つ和文に関する OpenType フィーチャーを Affinity シリーズでも使えるようにしたフォントです。
			オリジナルと同様、各 7 ウェイトを提供しています。
		</p>

		<div style="padding:75% 0 0 0;position:relative;">
			<iframe
				src="https://player.vimeo.com/video/835685514?badge=0&autopause=0&player_id=0&app_id=58479"
				frameborder="0"
				allow="autoplay; fullscreen; picture-in-picture"
				allowfullscreen
				style="position:absolute;top:0;left:0;width:100%;height:100%;"
				title="えのころ角ゴシック、えのころ明朝の紹介"></iframe>
		</div>
		<script src="https://player.vimeo.com/api/player.js"></script>

		<ul role="list" class="link-card-grid">
			<Card href="https://s-suzume.booth.pm/items/4852466" title="えのころ角ゴシック" description="Booth でダウンロード" />
			<Card href="https://s-suzume.booth.pm/items/4852495" title="えのころ明朝" description="Booth でダウンロード" />
		</ul>

		<h3>主な機能</h3>
		<ul class="par">
			<li>プロポーショナルメトリクス</li>
			<li>連続する約物のアキ調整</li>
			<li>漢字字形選択（JIS78, JIS83, JIS90, 国語審議会2000字形）</li>
			<li>ルビ用字形</li>
			<li>縦組み</li>
		</ul>

		<h3>ライセンス</h3>
		<p>
			<a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL"
				>SIL Open Font License 1.1</a
			>（<a href="https://ja.osdn.net/projects/opensource/wiki/SIL_Open_Font_License_1.1"
				>日本語訳</a
			>）
		</p>

		<h3>注意すべき仕様</h3>
		<p class="par">
			vert: Adobe InDesign/Illustrator とは正立する文字が異なります。
			<strong>えのころ</strong>では、ウェブブラウザで <code>writing-mode: vertical-rl</code> を設定したときと近い動作をします。
			これらのアプリケーションで使用している原稿を流用する際はご注意ください。
		</p>
		<ul class="par">
			<li>正立: ⁑ ⁂ † § ‼ ⁇ ⁈ ⁉</li>
			<li>横倒し: ＜ ＞ ； € 〰</li>
			<li>矢印の向きが書字方向に依存します。つまり ← は ↑ の向きに見えます</li>
			<li>3点リーダ（…）は左寄りではなく中央に配置されます</li>
		</ul>

		<h3>既知の不具合</h3>
		<ul class="par">
			<li>
				不具合があれば <a href="https://twitter.com/stsuzume">@stsuzume</a> までお知らせください
			</li>
		</ul>

		<h3>リリースノート</h3>
		<ul class="par">
			<li>2023-06-13 v1.2.0 Affinity 向けに最適化。vert の不具合を修正</li>
			<li>2023-04-03 v1.0.0 縦書き時の不具合を修正し、バージョン番号を 1.0.0 としました</li>
			<li>2023-04-01 プロポーショナルメトリクスを固定した palt と vert の初版リリース</li>
		</ul>

		<h3>今後の予定</h3>
		<ul class="par">
			<li>必要のないフィーチャーやグリフを削除してファイルサイズを軽量化する</li>
			<li>
				同様に変換した書体を増やす。名称はそれぞれのフォントのライセンスに従って付ける。Zen
				Old Mincho、Zen Maru Gothic
			</li>
			<li>何らかの方法で変換プログラムを公開する</li>
		</ul>
	</main>

	<address>
		スタジオスズメ | <a href="https://twitter.com/stsuzume">Twitter</a>
		| <a href="https://instagram.com/stsuzume">Instagram</a>
	</address>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 40rem;
	}
	address {
		margin: 1.5rem auto;
		padding-block-start: 0.75rem;
		max-width: 40rem;
		border-block-start: solid 1px #ccc;
		font-size: 88%;
		font-style: normal;
	}
	h1,
	h2 {
		font-feature-settings: "palt" 1 "chws" 1;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	@media (max-width: 38rem) {
		h1 {
			font-size: 8vw;
		}
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 800;
		margin: 4.5rem 0 1rem;
		margin-block: 4.5rem 1rem;
		margin-inline: 0;
	}
	h3 {
		font-size: 1.08rem;
		font-weight: 800;
		line-height: 1.25rem;
		margin: 3rem 0 1rem;
		margin-block: 3rem 1rem;
		margin-inline: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.par {
		line-height: 1.6;
		margin: 1rem 0;
		margin-block: 1rem;
		margin-inline: 0;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
