---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="type.suzume.dev">
	<main>
		<h1>type.suzume.dev</h1>

		<h2>えのころ</h2>
		<p class="par">
			<strong>えのころ</strong>は、<a href="https://github.com/adobe-fonts/source-han-sans/blob/master/README-JP.md">源ノ角ゴシック</a>、<a href="https://github.com/adobe-fonts/source-han-serif/blob/master/README-JP.md">源ノ明朝</a>をベースに、高度なタイポグラフィ機能を持たないアプリケーションでも、プロポーショナルメトリクスや縦書きを利用するためのフォントです。
			オリジナルと同様、各7ウェイトを提供しています。
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://s-suzume.booth.pm/items/4653948"
				title="えのころ角ゴシック palt"
				body="プロポーショナルメトリクスが有効になります。句読点や括弧類の幅が半分になるため、適宜スペースを入れてください。"
			/>
			<Card
				href="https://s-suzume.booth.pm/items/4659933"
				title="えのころ明朝 palt"
				body="プロポーショナルメトリクスが有効になります。句読点や括弧類の幅が半分になるため、適宜スペースを入れてください。"
			/>
			<Card
				href="https://s-suzume.booth.pm/items/4659935"
				title="えのころ角ゴシック vert"
				body="縦書きに対応していないアプリケーションで縦書きを利用するため、和文グリフが90度回転しています。"
			/>
			<Card
				href="https://s-suzume.booth.pm/items/4659939"
				title="えのころ明朝 vert"
				body="縦書きに対応していないアプリケーションで縦書きを利用するため、和文グリフが90度回転しています。"
			/>
		</ul>

		<h3>ライセンス</h3>
		<p><a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL">SIL Open Font License 1.1</a>（<a href="https://ja.osdn.net/projects/opensource/wiki/SIL_Open_Font_License_1.1">日本語訳</a>）</p>

		<h3>注意すべき仕様</h3>
		<p class="par">
			vert: Adobe InDesign/Illustrator とは正立する文字が異なります。
			<strong>えのころ</strong>では、ウェブブラウザで <code>writing-mode: vertical-rl</code> を設定したときと近い動作をします。
			これらのアプリケーションで使用している原稿を流用する際はご注意ください。
		</p>
		<ul class="par">
			<li>正立: ⁑ ⁂ † § ‼ ⁇ ⁈ ⁉</li>
			<li>横倒し: ＜ ＞ ； € 〰</li>
			<li>矢印の向きが書字方向に依存します。つまり ← は ↑ の向きに見えます</li>
			<li>3点リーダ（…）は左寄りではなく中央に配置されます</li>
		</ul>

		<h3>既知の不具合</h3>
		<ul class="par">
			<li>vert: 音引き（ー）のグリフが正しくない</li>
			<li>vert: ラテン文字の全角形の位置が縦組用に調整されていない（VORGテーブル）</li>
			<li>vert: 二重感嘆符・疑問符（‼ ⁇ ⁈ ⁉）の位置が左寄り、字送りが横組プロポーショナルの値になっている</li>
			<li>vert: 合成されたくの字点（〱 〲）が前後の文字に重なる</li>
		</ul>

		<h3>今後の予定</h3>
		<ul class="par">
			<li>縦書きプロポーショナルメトリクス vpal に対応したフォントを作成する</li>
			<li>必要のないフィーチャーやグリフを削除してファイルサイズを軽量化する</li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1, h2 {
		font-feature-settings: "palt" 1 "chws" 1;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 800;
		margin: 4.5rem 0 1rem;
		margin-block: 4.5rem 1rem;
		margin-inline: 0;
	}
	h3 {
		font-size: 1.08rem;
		font-weight: 800;
		line-height: 1.25rem;
		margin: 3rem 0 1rem;
		margin-block: 3rem 1rem;
		margin-inline: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.par {
		line-height: 1.6;
		margin: 1rem 0;
		margin-block: 1rem;
		margin-inline: 0;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
