<address>
	<a href="/">スタジオスズメ</a> | <a href="https://twitter.com/stsuzume">Twitter</a>
	| <a href="https://instagram.com/stsuzume">Instagram</a>
</address>

<style>
	address {
		margin: 1.5rem auto;
		padding-block-start: 0.75rem;
		max-width: 40rem;
		border-block-start: solid 1px #ccc;
		font-size: 88%;
		font-style: normal;
	}
</style>
