---
export interface Props {
	name: string;
	href: string;
	src: string;
}

const { name, href, src } = Astro.props;
---

<li class="card">
	<a href={href}>
		<img alt={name} src={src} />
	</a>
</li>
<style>
	.card a {
		display: inline-block;
		vertical-align: bottom;
		border: solid 1px #ddd;
	}
	@keyframes card-hover {
		0% {
			outline: solid 0 rgba(var(--accent), 0);
		}
		100% {
			outline: solid 2px rgb(var(--accent));
		}
	}
	.card a:hover,
	.card a:focus {
		outline: solid 2px rgb(var(--accent));
		animation: card-hover 0.2s ease-out 1;
	}
	.card img {
		width: auto;
		height: auto;
		max-width: 100%;
		vertical-align: bottom;
	}
</style>
