---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 90, 78, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #51b49d 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		font-feature-settings: "chws" 1;
		background-color: #F6F6F6;
		line-height: 1.25;
	}
	a {
		color: rgb(var(--accent));
		text-decoration: none;
	}
	.btn {
		padding: 0.5em 1em;
		color: #fff;
		background: rgba(var(--accent), 0.8);
		text-align: center;
		border-radius: 2em;
	}
	.btn:hover,
	.btn:focus {
		background: rgb(var(--accent));
	}
	strong {
		font-weight: 800;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 40rem;
	}

	h1,
	h2 {
		font-feature-settings: "palt" 1, "chws" 1;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		line-height: 1.2;
		letter-spacing: -0.025em;
		margin: 0 0 3.2rem;
	}
	@media (max-width: 38rem) {
		h1 {
			font-size: 8vw;
		}
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 800;
		letter-spacing: -0.0125em;
		margin: 4.5rem 0 1rem;
		margin-block: 4.5rem 1rem;
		margin-inline: 0;
	}
	h3 {
		font-size: 1.08rem;
		font-weight: 800;
		line-height: 1.25rem;
		margin: 3rem 0 1rem;
		margin-block: 3rem 1rem;
		margin-inline: 0;
	}
	.par {
		line-height: 1.6;
		margin: 1rem 0;
		margin-block: 1rem;
		margin-inline: 0;
	}
</style>
